.brush-box {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.square {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  width: 20px;
  height: 20px;
  border: 0.5px solid black;
  background-color: white;
}